@import url(https://fonts.googleapis.com/css?family=Roboto:300);
body{
background-color:white;
	font-family: "Roboto", sans-serif;
	text-align:left;
		
	}
	
/*custom scrollbar*/
::-webkit-scrollbar {
    width: 10px;
    height: 1px;
}
::-webkit-scrollbar-button {
    background: #ccc
}
::-webkit-scrollbar-track-piece {
    background: #888
}
::-webkit-scrollbar-thumb {
    background: #E58C8A
}​

.postOwn .user{
	color:white;
	text-align:left;
	font-family: "Roboto", sans-serif;
	font-weight:bold;
	font-size:40px;
}

.timestamp {
	color:white;
	font-size: 10px;
	text-align:right;
	float:bottom;
	float:right;	
	margin:2px;	
	font-family: "Roboto", sans-serif;
}

.message {

	font-size:16px;
	font-family: "Roboto", sans-serif;
	color: black;
	text-align:left;
}

.postOwn{
	margin: 15px;
	padding: 15px;
	left: 65%;
	position: relative;
	background: #E58C8A;
	border-radius: 3px;
	width:30%;
	text-align:left;
	word-break: break-all;
	font-family: "Roboto", sans-serif;
}

.postOther{
	margin: 15px;
	padding: 15px;
	position: relative;
	background: lightgrey;
	border-radius: 3px;
	width:30%;
	text-align:left;
	word-break: break-all;
	font-family: "Roboto", sans-serif;
	
}


		