@import url(https://fonts.googleapis.com/css?family=Roboto:300);
body{
	background-image: url(https://images.pexels.com/photos/1146642/pexels-photo-1146642.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
	font-family: "Roboto", sans-serif;
	text-align:center;
	font-size: 30px;
	color: white;	
	
	margin: 5% auto 100px;
	max-width: auto;
	padding: 45px;
	text-align: left;
	  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

	}
	
	a {
		text-decoration:none;
	}
	
	
	.name{
		color:red;
		font-size:30px;
	}

	.name .thema {
		color:green;
		font-size:15px;
		transition-duration: 0.5s;
		opacity: 0;
		position: absolute;
		transition: all 0.5s ease;
		margin-top: 1rem;
		left: 0;
		display: none;
	}


.name:hover .thema {
  opacity: 1;
  display: block;
}


	
	