body {
		background-image: url(https://images.pexels.com/photos/1146642/pexels-photo-1146642.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
		background-position:fixed;
		background-size:cover;
		font-family: "Roboto", sans-serif;
		font-size: 26px;
		color: white;	
		text-align:center;
}
