@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body{
	background-image: url(https://images.pexels.com/photos/1146642/pexels-photo-1146642.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
	font-family: "Roboto", sans-serif;
	text-align:center;
	font-size: 30px;
	color: white;	
	 
	}
	
	a {
		font-family:"Roboto", sans-serif;
		font-weight:bold;
		color:#E58C8A;
	    text-transform: uppercase;

		background: #E58C8A;
		padding:10px;
		text-decoration:none;
		color: #FFFFFF;
		font-size: 16px;
		cursor: pointer;

		
		
	}
	
	a:hover,a:active,a:focus {
	color: #B57473;
}

#auswahl {
	 box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	 text-align:center;
	  margin: auto;
	width: 20vw;
  
	padding: 20px;

}

	
