@import url(https://fonts.googleapis.com/css?family=Roboto:300);
body {
		background-image: url(https://images.pexels.com/photos/1146642/pexels-photo-1146642.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
		font-family: "Roboto", sans-serif;
		text-align:center;
		font-size: 30px;
		color: white;	
}	
	