@import url(https://fonts.googleapis.com/css?family=Roboto:300);
body{
		background-color:white;
		font-family: "Roboto", sans-serif;
		text-align:left;
		height: 100%;
		width: 100%;
		margin: 0;
		padding: 0;
	}

/*custom scrollbar*/
::-webkit-scrollbar {
    width: 10px;
    height: 1px;
}
::-webkit-scrollbar-button {
    background: #ccc;
}
::-webkit-scrollbar-track-piece {
    background: #888;
}
::-webkit-scrollbar-thumb {
    background: black;
}​

.message {
	font-size:16px;
	font-family: "Roboto", sans-serif;
	color: white;
	text-align:left;
}

.postOwn{
	margin: 15px;
	padding: 15px;
	left: 30%;
	position: relative;
	background: #353535;
	border-radius: 3px;
	width:65%;
	text-align:left;
	word-break: break-all;
	font-family: "Roboto", sans-serif;
}

.postOther{
	margin: 15px;
	padding: 15px;
	position: relative;
	background: black;
	border-radius: 3px;
	width:65%;
	text-align:left;
	word-break: break-all;
	font-family: "Roboto", sans-serif;

}

.postOwn .user{
	color:white;
	text-align:left;
}

.postOther .user{
	color:#B57473;
	text-align:left;
}

#messages {
	position: absolute;
	top: 0;
	left: 0;
	overflow-y: scroll;
	height: 100%;
	width: 100%;
	z-index: 1;
	color:white;
}

#aktScrollToNew {
	z-index: 2;
	position: fixed;
	bottom: 0px;
	left: 0px;
	color:white;
	font-size:10px;
	text-align:center;
	background-color:black;
	margin:0px;
	padding:8px;
	border: 0.5px solid black;
	transition: all 0.3s;
}

#aktScrollToNew:hover {
	font-size: 20px;
	bottom: 5px;
	right: 5px;
}

.timestamp {
	color:white;
	font-size: 15px;
	text-align:right;
	margin:2px;
	font-family: "Roboto", sans-serif;
}
